<configuration>
<!--    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>-->

    <property name="LOG_FILE" value="testFile" />
    <property name="LOG_DIR" value="target/logsSlf4j" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
<!--        <file>log-${bySecond}.txt</file>-->
        <file>${LOG_DIR}/${LOG_FILE}.log</file>
<!--        <append>true</append>-->
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
<!--    %-4relative-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
<!--        <withJansi>true</withJansi>-->
        <encoder>
            <pattern>%-30(%green(%d{HH:mm:ss.SSS}) %yellow([%thread])) %magenta(%-5level) %highlight(%logger{30}) - %cyan(%msg%n)</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>